.background-image{
    background-size: cover;
    display: block; 
    content:'';
    position: relative; 
    top: 0; 
    left: 0; 
    z-index: -2; 
    opacity: 0.7; 
    height: 100%;
    width:100%;
    background-repeat: no-repeat;
    
}
.background-image-container{
    height:92vh;
    width:100vw;
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    )
}
.centered {
    position: absolute;
    font-size:2.5rem;
    font-weight: 400;
    color:#fff;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered-input {
    position: absolute;
    font-size:3rem;
    font-weight: 700;
    color:#fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:1rem;
  }
  .centered-input input{
      border-radius: 0.25rem;
      border:0.125rem solid transparent;
      font-size:1.5rem;
      width:30rem;
  }
  .centered-input input::placeholder{
      font-size:1.25rem;
      vertical-align: middle;
      padding-left:0;
      margin-left:0;
      text-align: left;
  }

  .centered-input input:focus{
    outline:none;
    padding-left:0.75rem;
}
.right-arrow{
    position: relative;
    margin-left:50rem;
    top:-60%;
    left: 55%;
    height:15%;
    font-size:5rem !important;
    transform: translate(-50%, -20%);
    color:white;
    cursor:pointer;
    &:hover{
        color:#e55a34;
    }
}
