.nav {
    height:4rem;
    width:auto;
    top:0;
    display:flex;
    background-color: #e55a34
}
.appLogo{
    margin-top:0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.75rem;
    font-weight:500;
    color:#fff;
}
.menu-items{
    margin-left:auto;
    margin-right:4rem;
    display:inline-block;
}